@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:hsl(217, 54%, 11%) ;
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.card {
    display: flex;
    flex-direction: column;
    border: 10px solid hsl(216, 50%, 16%) ;
   margin: 1rem;
   background-color: hsl(216, 50%, 16%);
  max-width: 350px;
  padding: 1rem;
  border-radius: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: hsl(178, 100%, 50%);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .container:hover .overlay {
    opacity: 0.7;
  }
  
  .svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

.nft-image {
    width:100%;
    display: block;
    border-radius: 20px;
}


.title {
    text-align: left;
    font-weight: 600;
    margin-top: 1rem;
    
}
.title:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.card .content {
    display: flex;
    font-weight: 400;
    text-align: left;
    margin: 1rem 0;
    
}

.price-tags {
    display: flex;
    align-items: center;
    margin: 1rem 0; 
    justify-content: space-between;
}

.eth {
    display: flex;
    gap: 8px;
    color: hsl(178, 100%, 50%);
}

.time {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.icon-face {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.icon-face p, a {
    color: #fff;
}

.icon-face a:hover {
    color: hsl(178, 100%, 50%);;
}
.profile {
   height: 35px;  
   border: 1px solid #fff;
   border-radius: 50%;
   
}
